/*!
 * Bootstrap Reboot v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #97040C;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #4c0206;
    text-decoration: underline; }

a:not([href]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):hover {
    color: inherit;
    text-decoration: none; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.space-15 {
  height: 15px; }

.space-30 {
  height: 30px; }

.space-40 {
  height: 40px; }

.space-60 {
  height: 60px; }

.space-80 {
  height: 80px; }

.space-100 {
  height: 100px; }

.space-150 {
  height: 150px; }

.m-right-0 {
  margin-right: 0 !important; }

.m-right-10 {
  margin-right: 10px !important; }

.m-right-20 {
  margin-right: 20px !important; }

.m-right-30 {
  margin-right: 30px !important; }

.m-right-40 {
  margin-right: 40px !important; }

.m-left-0 {
  margin-left: 0 !important; }

.m-left-10 {
  margin-left: 10px !important; }

.m-left-20 {
  margin-left: 20px !important; }

.m-left-30 {
  margin-left: 30px !important; }

.m-left-40 {
  margin-left: 40px !important; }

.m-top-0 {
  margin-top: 0 !important; }

.m-top-10 {
  margin-top: 10px !important; }

.m-top-20 {
  margin-top: 20px !important; }

.m-top-30 {
  margin-top: 30px !important; }

.m-top-40 {
  margin-top: 40px !important; }

.m-bottom-0 {
  margin-bottom: 0 !important; }

.m-bottom-10 {
  margin-bottom: 10px !important; }

.m-bottom-20 {
  margin-bottom: 20px !important; }

.m-bottom-30 {
  margin-bottom: 30px !important; }

.m-bottom-40 {
  margin-bottom: 40px !important; }

body {
  position: relative;
  min-width: 320px;
  font-size: 1rem;
  line-height: 1.2;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

html, body, .app {
  height: 100%; }

::-webkit-input-placeholder {
  color: #9E9E9E; }

::-moz-placeholder {
  color: #9E9E9E; }

:-ms-input-placeholder {
  color: #9E9E9E; }

::-ms-input-placeholder {
  color: #9E9E9E; }

::placeholder {
  color: #9E9E9E; }

.app {
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid #E0E0E1;
  font-size: 1.4rem;
  text-align: center;
  position: relative; }
  .header .title {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    text-align: center; }
  .header .logo img {
    display: block;
    height: 40px; }

.content {
  flex: 1;
  padding: 30px 10px 10px;
  height: 100%;
  background: #EBEBEB; }

.btn {
  background: #97040C;
  color: white;
  border-radius: 100px;
  padding: .5rem 1.75rem;
  font-size: 1.2rem;
  display: inline-block; }
  .btn:disabled {
    background: #BDBEBF; }

.input {
  display: flex;
  margin: 10px 0;
  border: 1px solid #BDBEBF;
  border-radius: 4px;
  background: white;
  padding: 10px 5px;
  caret-color: #97040C; }
  .input .icon {
    margin-right: 12px; }
  .input input {
    font-family: monospace;
    font-size: 1.5rem;
    width: 100%;
    border: 1px;
    line-height: 1; }

.controls {
  display: flex;
  justify-content: flex-end; }

.input-link {
  display: flex;
  margin-bottom: 10px; }
  .input-link svg {
    margin-right: 5px; }

::-moz-selection {
  color: white;
  background: #97040C; }

::selection {
  color: white;
  background: #97040C; }

a {
  color: #97040C; }

button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

input:not([type='checkbox']):not([type='button']):not([type='color']) {
  display: block;
  width: 100%; }

input:focus, button:focus, .select-control:focus {
  outline: none; }

button, input[type="button"], .btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none; }
  button:disabled, button.disabled, input[type="button"]:disabled, input[type="button"].disabled, .btn:disabled, .btn.disabled {
    cursor: not-allowed; }

.btn {
  display: inline-block;
  cursor: pointer; }
