.space-15
    height: 15px
.space-30
    height: 30px
.space-40
    height: 40px
.space-60
    height: 60px
.space-80
    height: 80px
.space-100
    height: 100px
.space-150
    height: 150px

.m-right-0
    margin-right: 0 !important
.m-right-10
    margin-right: 10px !important
.m-right-20
    margin-right: 20px !important
.m-right-30
    margin-right: 30px !important
.m-right-40
    margin-right: 40px !important

.m-left-0
    margin-left: 0 !important
.m-left-10
    margin-left: 10px !important
.m-left-20
    margin-left: 20px !important
.m-left-30
    margin-left: 30px !important
.m-left-40
    margin-left: 40px !important

.m-top-0
    margin-top: 0 !important
.m-top-10
    margin-top: 10px !important
.m-top-20
    margin-top: 20px !important
.m-top-30
    margin-top: 30px !important
.m-top-40
    margin-top: 40px !important

.m-bottom-0
    margin-bottom: 0 !important
.m-bottom-10
    margin-bottom: 10px !important
.m-bottom-20
    margin-bottom: 20px !important
.m-bottom-30
    margin-bottom: 30px !important
.m-bottom-40
    margin-bottom: 40px !important