body
    position: relative
    min-width: 320px
    font-size: 1rem
    line-height: $line-height
    color: $text-color
    font-family: $font-family

html, body, .app
    height: 100%

::placeholder
    color: #9E9E9E

.app
    display: flex
    flex-direction: column

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem
    border-bottom: 2px solid #E0E0E1
    font-size: 1.4rem
    text-align: center
    position: relative
    .title
        top: 50%
        left: 50%
        transform: translateX(-50%)  translateY(-50%)
        position: absolute
        text-align: center
    .logo
        img
            display: block
            height: 40px

.content
    flex: 1
    padding: 30px 10px 10px
    height: 100%
    background: #EBEBEB

.btn
    background: $primary
    color: white
    border-radius: 100px
    padding: .5rem 1.75rem
    font-size: 1.2rem
    display: inline-block
    &:disabled
        background: #BDBEBF
    
.input
    display: flex
    margin: 10px 0
    border: 1px solid #BDBEBF
    border-radius: 4px
    background: white
    padding: 10px 5px
    caret-color: $primary
    .icon
        margin-right: 12px
    input
        font-family: monospace
        font-size: 1.5rem
        width: 100%
        border: 1px
        line-height: 1

.controls
    display: flex
    justify-content: flex-end

.input-link
    display: flex
    margin-bottom: 10px
    svg
        margin-right: 5px