::selection
    color: white
    background: $primary

a
    color: $primary

button, input, select, textarea
  font-family: $font-family

input:not([type='checkbox']):not([type='button']):not([type='color'])
    display: block
    width: 100%
    
input, button, .select-control
    &:focus
        outline: none
    
button, input[type="button"], .btn
    user-select: none
    border: none
    &:disabled, &.disabled
        cursor: not-allowed

.btn
    display: inline-block
    cursor: pointer